<header class="seven-gramsHeader">
  <div class="logoWrapper">
    <img class="logo" src="./Images/sevengramsLogo.webp"/>
  </div>
  <div class="headerWordsContainer">
    <div class="headerWordsWrapper">
      <p class="headerWords">THE INSPIRATION</p>
    </div>
    <div class="headerWordsWrapper">
      <p class="headerWords">THE BREW</p>
    </div>
    <div class="headerWordsWrapper">
      <p class="headerWords">THE BAKES</p>
    </div>
    <div class="headerWordsWrapper">
      <p class="headerWords">THE GALLERY</p>
    </div>
    <div class="headerWordsWrapper">
      <p class="headerWords">THE BUZZ</p>
    </div>
    <div class="headerWordsWrapper">
      <p class="headerWords">LOCATION</p>
    </div>
  </div>
  <div class="topBox leftBox">
    <span class="boxText">ORDER CATERING</span>
  </div>
  <div class="topBox rightBox">
    <span class="boxText">ORDER NATIONWIDE</span>
  </div>
</header>
