<header class="seven-gramsHeader">
  <div>
    <img>
  </div>
  <div class="headerWordsContainer">
    <div class="headerWordsWrapper">
      <p class="headerWords">THE INSPIRATION</p>
    </div>
    <div class="headerWordsWrapper">
      <p class="headerWords">THE BREWS</p>
    </div>
    <div class="headerWordsWrapper">
      <p class="headerWords">THE BAKES</p>
    </div>
    <div class="headerWordsWrapper">
      <p class="headerWords">THE GALLERY</p>
    </div>
    <div class="headerWordsWrapper">
      <p class="headerWords">THE BUZZ</p>
    </div>
    <div class="headerWordsWrapper">
      <p class="headerWords">LOCATION</p>
    </div>
  </div>
  <div>
  </div>
  <div>
  </div>
</header>
