<header class="seven-gramsHeader">
  <div class="logoWrapper">
    <img class="logo" src="./Images/sevengramsLogo.webp"/>
  </div>
  <div class="headerWordsContainer">
    <div class="headerWordsWrapper">
      <p class="headerWords">THE INSPIRATION</p>
    </div>
    <div class="headerWordsWrapper">
      <p class="headerWords">THE BREW</p>
    </div>
    <div class="headerWordsWrapper">
      <p class="headerWords">THE BAKES</p>
    </div>
    <div class="headerWordsWrapper">
      <p class="headerWords">THE GALLERY</p>
    </div>
    <div class="headerWordsWrapper">
      <p class="headerWords">THE BUZZ</p>
    </div>
    <div class="headerWordsWrapper">
      <p class="headerWords">LOCATION</p>
    </div>
  </div>
  <div class="topBox leftBox">
    <span class="boxText">ORDER CATERING</span>
  </div>
  <div class="topBox rightBox">
    <span class="boxText">ORDER NATIONWIDE</span>
  </div>
</header>
<body>
  <section class="sectionOne">
    <img class="logoTitle" src="./Images/logotitle.webp"/>
    <span class="gapText">BRIDGING THE GAP BETWEEN</span>
    <img class="motto" src="./Images/motto.webp"/>
    <img class="arrow" src="./Images/down-arrow.webp"/>
  </section>
  <section class="sectionTwo">
    <div class="s2textWrapper">
      <h4 class="sHeadLine">INSPIRATION</h4>
      </br>
      <p class="sText">Our greatest passions in life are fragrant espressos and decadent baked goods, and we’ve had enough with high-quality coffee places that offer lackluster, outsourced pastries, and high-end bakeries that offer burnt, sub-par brews. So we decided to do something about it.</p>
      </br>
      <p class="sText">As for the name, we have no intention of starting a Breaking Bad inspired cartel. But yes, the thing we’re doing does involve some cooking and an exact formula to make things just right. The name Seven Grams is an ode to the true Italian standard, where the perfect espresso shot is made out of exactly seven grams of ground premium coffee. And that is what we’re all about – the absolute best cup of Italian coffee, topped with artisan baked goods. </p>
    </div>
  </section>
  <section class="sectionThree">
    <div class="s3textWrapper">
      <h4 class="sHeadLine">THE BREW</h4>
      </br>
      <p class="sText">We aspire to make the perfect cup of coffee with the perfect shot of espresso. The perfect shot you would get when you step into a tiny espresso bar established over a century ago in a picturesque Italian village. And the barista making your shot is making it the same way his father made it, and his grandfather before him made it: He takes exactly 7 grams of the purest, best quality, freshly ground coffee bean, and, with the craft passed down to him from generations of experience, brews you a magical cup of coffee. We’re about following the Italian craft to the gram. Guess we’re pretty traditional when it comes to our brew.</p>
    </div>
  </section>
  <section class="sectionFour">
  </section>
</body>
