.seven-gramsHeader{
  background: rgba(0, 0, 0, 0.95);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left:0;
  z-index: 100;
  height:60px;
  width:100%;
  color: #ffffff;
  justify-content: center;
  display: flex;
}
.headerWordsContainer{
  display: flex;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  height: 28px;
  width: 633px;
  align-self: center;
  position: relative;
  left: 41px;
  /*top: 15px;*/
}
.headerWordsWrapper{
  padding: 0 5px;
  text-align: center;
}
.headerWords{
  text-align: center;
  display: flex;
  font-size: 11px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0 10px;
  line-height: 28px;
}
.logoWrapper{
  position: relative;
  width: 98px;
  height: 74px;
}
.logo{
  position: absolute;
  left:14px;
  top: -10px;
  width: 98px;
  height: 74px;
}
.topBox{
  position: relative;
  top: 10px;
  height: 35px;
  min-height: 15px;
  border: solid rgba(255, 255, 255, 1) 3px;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-left: 10px;
}
.boxText{
  margin: 5px;
  display: flex;
  position: relative;
  font-size: 11px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: initial;
}

/*1st section*/
.sectionOne{
  background-image: url("https://static.wixstatic.com/media/254208_45de40a392aa4eec82196123cab8f8b9.jpg/v1/fill/w_980,h_900,al_c,q_85,usm_0.66_1.00_0.01/254208_45de40a392aa4eec82196123cab8f8b9.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  position: absolute;
  top: 60px;
  left: 0px;
  height: 900px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
}
.logoTitle{
  height: 262px;
  width: 348px;
  position: relative;
  top:150px;
}
.gapText{
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  top: 150px;
}
.motto{
  height: 60px;
  width: 249px;
  position: relative;
  top: 178px;
}
.arrow{
  height: 66px;
  width: 97px;
  position: relative;
  top:185px;
}

/*2nd Section */
.sectionTwo{
  background-image: url("https://static.wixstatic.com/media/fb1109_00fba77d1103457183c322ba53151193.jpg/v1/fill/w_980,h_700,al_c,q_85,usm_0.66_1.00_0.01/fb1109_00fba77d1103457183c322ba53151193.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position:top;
  position: absolute;
  top: 868px;
  height: 700px;
  width: 100%;
}
.s2textWrapper{
  width: 356px;
  display: block;
  position: absolute;
  left: 759px;
  top: 230px;
  word-wrap: break-word;
  text-align: justify;
  color: #000000;
}
.sText {
  font-size: 14px;
  font-family: helvetica, sans-serif;
}
.sHeadline{
  font-family: Arial, sans-serif;
  font-size: 22px;
}

/*3rd Section */
.sectionThree{
  background-image: url("https://static.wixstatic.com/media/fb1109_1be4afb3cb354524b633ab93a7673c7b.jpg/v1/fill/w_980,h_700,al_c,q_85,usm_0.66_1.00_0.01/fb1109_1be4afb3cb354524b633ab93a7673c7b.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position:top;
  position: absolute;
  top: 1568px;
  height: 700px;
  width: 100%;
}
.s3textWrapper{
  width: 352px;
  display: block;
  position: absolute;
  left: 56px;
  top: 239px;
  word-wrap: break-word;
  text-align: justify;
  z-index: 3;
  color: #ffffff;
}
/*4th Section*/
.sectionFour{
  background-image: url("https://static.wixstatic.com/media/254208_2d2514bef7ac42f2ac14b862a6a1a648.jpg/v1/fill/w_980,h_700,al_c,q_85,usm_0.66_1.00_0.01/254208_2d2514bef7ac42f2ac14b862a6a1a648.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position:top;
  position: absolute;
  top: 2268px;
  height: 700px;
  width: 100%;
}
